body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .button {
    background-color: #630be8;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .active .button {
    background-color: #0f830f;
  }
  
  .button:hover {
    background-color: #008000;
  }
  